<html>
<head>
<title>Admin Login</title>
<link rel="stylesheet" href="css/home.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Montserrat|Allura|Merriweather|Nanum+Myeongjo|Fondamento|Comic+Neue|Dancing+Script|Raleway|Roboto:100|Satisfy&display=swap" rel="stylesheet">
</head>

<body style="text-align:center;">
<form class="" action="/admin" method="post">
  <input type="text" name="username" value="" placeholder="UserName"> <br />
  <input type="password" name="password" value="" placeholder="Password"> <br />
  <button type="submit" name="button">Submit</button>
</form>
</body>

</html>
